* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

::-moz-selection { 
    color: #C147E9;
    background: white;
  }
  
  ::selection {
    color: #C147E9;
    background: white;
  }


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #C147E9;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #c147e9;
}

.card_2 {
    background: #da22ff;
    background: linear-gradient(to top, #2f2d2da8, rgba(63, 59, 59, 0.71));
    color: whitesmoke;
    padding: 2em;
    border-radius: 30px;
    margin: 1em;
    text-align: left;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.poster {
    width: 100%;
    height: auto;
}


.search_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.search_2 {
    margin: 1.7em;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
    outline: none;
    background: #7c7c7c2b;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.searchbar_2 {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 20px;
    width: calc(100% - 100px);
}

.searchbar_2{
    caret-color: #C147E9;
}

.searchBTN {
    margin: 1em;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #ccc4c42b;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 8px 8px;
}

button.searchBTN:hover {
    background: #C147E9;
    color: black;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading....";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.card:hover {
    box-shadow: 5px 5px 5px #00000056;
}

.searchbar:hover {
    transform: scale(1.07);
}

/* --------------------------------------- */



nav {
    background-color: black;
}

.ms-auto {
    margin-left: auto !important;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-size: 30px;
}

.nav-item {
    margin-right: 30px;
}

.nav-link {
    color: #d2d5d5 !important;
    font-size: 20px;
    font-weight: 600;
}

.navbar-nav .nav-item .nav-link:after {
    display: block;

    content: '';
    border-bottom: solid 3px #C147E9;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover:after {
    transform: scaleX(1);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2.0em;
    height: 2.0em;
    vertical-align: middle;
    background-image: url(https://img.icons8.com/ios-filled/50/C850F2/menu-squared-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.container {
    padding: 15px;
}

.searchbar {
    width: fit-content;
    margin: auto;
}

.form-control {
    box-shadow: none;
}

.barText {
    background-color: #221D21;
    border: 2px solid #8037DB;
    transition: .2s ease;
    color: white;
    width: 350px;
}

.barText:focus {
    border: 2px solid #C147E9;
    background-color: #000000;
    color: white;
    box-shadow: none;
}

.submitButton {
    margin-left: 10px;
    font-weight: 600;
    background-color: #8037DB;
    border: 2px solid #8037DB;
}

.submitButton:hover {
    background-color: #7719eb;
    border: 2px solid #7719eb;
}



/* ------------------------- */
.autocomplete {
    position: relative;
    display: inline-block;

}


input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


/*------------------------------------------- */

div::-webkit-scrollbar {
    width: 0.3em;
}

div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


/* -------------------------------   */

.toTop{
    z-index: 99;
    position: fixed;
    bottom: 30px;
    display: none;
    right: 30px;
    background-color: #c559ea;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 8px;
}

.toTop:hover{
    background-color: #b217e6;
    transition: .3s ease;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.text-center>p {
    color: #cf64ea;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
    text-align: center;
    width: 100%;
}

.hero-hdg {
    display: inline-block;
    padding-right: 5px;
    border-right: 10px solid #fff;
    animation: blink 1s infinite;

    @media screen and (max-width: 370px) {
        font-size: 5vw;
        border-right: 4px solid #fff;
    }
}

@keyframes blink {
    0% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: transparent;
    }

    51% {
        border-right-color: #fff;
    }

    100% {
        border-right-color: #fff;
    }
}

.hero-btn {
    border-radius: 15px;
    padding: 8px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    background-color: #8037DB;
    border: 2px solid #8037DB;
}

.hero-btn:hover {
    background-color: #7719eb;
}

canvas {
    opacity: 0.5;
    background: #000;
    width: 100%;
    /* height: 100%; */
}

/* ---------------------------------- */
.typewriter {
    width: fit-content;
    margin: auto;
}

.typewriter h1 {
    font-size: 50px;
    color: white;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #C147E9;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 4.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #C147E9
    }
}



/* News section */

.news-headline {
    font-weight: 700;
    color: #e1d8d8;
}

.album {
    padding: 0;
}

.card {
    background-color: #000;
    border: 3px solid #C147E9;
}

.card-text {
    color: rgb(171, 162, 162);
    text-align: justify;
    word-spacing: -2px;
}

/* maps */


.card-map {
    border: 0;
    background-color: #000;
}

.windmap {
    width: 100%;
}

/* ----FAQ's---- */

.accordion-button{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.accordion-body{
    text-align: left;
}



/* footer */
.social>a {
    margin: 10px;
}




/* MEDIA QUERIES */
@media (max-width:480px) {
    .toTop{
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .searchbar {
        width: 60%;
    }

    .submitButton {
        width: max-content;
        font-size: 10px;
    }

    .barText {
        width: 150px;
        font-size: 15px;
    }

    .typewriter h1 {
        white-space: nowrap;
        font-size: 28px;
    }

    .text-center>p {
        font-size: 18px;
    }

    input.searchbar_2 {
        font-size: 16px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weather-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .posterSection {
        width: 100%;
    }

}

@media (min-width:481px) and (max-width:820px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weather-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .posterSection {
        width: 100%;
    }
}

@media (min-width:768px) {
    .windmap {
        width: 100%;
    }
}